# Before use, copy this file to ~/.axlearn.config and replace "my-abc" with your GCP settings.

[gcp."cloud-tpu-multipod-dev:us-south1-a"]

# Project, zone, bucket, and network.
project = "cloud-tpu-multipod-dev"
env_id = "us-south1-a"
zone = "us-south1-a"
network = "projects/cloud-tpu-multipod-dev/global/networks/pw-scale-test-v5e-32-mtu9k-1-us-south1-a"
subnetwork = "projects/cloud-tpu-multipod-dev/regions/us-south1/subnetworks/pw-scale-test-v5e-32-privatesubnet-1-us-south1-a"
# Used when launching VMs and TPUs.
service_account_email = "735972712744-compute@developer.gserviceaccount.com"
# Used for permanent artifacts like checkpoints. Should be writable by users who intend to launch jobs.
permanent_bucket = "cloud-pathways-staging"
# Used for private artifacts, like quota files. Should be readable by users who intend to launch jobs.
private_bucket = "cloud-pathways-staging"
# Used for temporary artifacts, like logs. Should be writable by users who intend to launch jobs.
ttl_bucket = "cloud-pathways-staging"

# (Optional) Used by the AXLearn CLI. See the CLI docs for more info.
labels = "v5e-tpu"

# Docker settings.
# (Optional) Used for pushing docker images.
docker_repo = "us-docker.pkg.dev/cloud-tpu-multipod-dev/axlearn"
# (Optional) Configure a default Dockerfile to use when launching jobs with docker.
default_dockerfile = "Dockerfile"
# image_project = "my-image-factory"

# (Optional) Enable VertexAI Tensorboard support during training.
vertexai_tensorboard = "1231231231231231231"
vertexai_region = "us-central1"


gke_cluster = "pw-scale-test-v5e-32"
reserved_tpu = false
cluster = "pw-scale-test-v5e-32"
