# Before use, copy this file to ~/.axlearn.config and replace "my-abc" with your GCP settings.

[gcp."tpu-prod-env-one-vm:southamerica-west1-a"]

# Project, zone, bucket, and network.
project = "tpu-prod-env-one-vm"
env_id = "southamerica-west1-a"
zone = "southamerica-west1-a"
network = "projects/tpu-prod-env-one-vm/global/networks/bodaborg-v6e-256-mtu9k-1-southamerica-west1-a"
subnetwork = "projects/tpu-prod-env-one-vm/regions/us-west1/subnetworks/bodaborg-v6e-256-privatesubnet-1-southamerica-west1-a"
# Used when launching VMs and TPUs.
service_account_email = "630405687483-compute@developer.gserviceaccount.com"
# Used for permanent artifacts like checkpoints. Should be writable by users who intend to launch jobs.
permanent_bucket = "cloud-pathways-staging"
# Used for private artifacts, like quota files. Should be readable by users who intend to launch jobs.
private_bucket = "cloud-pathways-staging"
# Used for temporary artifacts, like logs. Should be writable by users who intend to launch jobs.
ttl_bucket = "cloud-pathways-staging"

# (Optional) Used by the AXLearn CLI. See the CLI docs for more info.
labels = "v6e-tpu"

# Docker settings.
# (Optional) Used for pushing docker images.
docker_repo = "us-docker.pkg.dev/cloud-tpu-multipod-dev/axlearn"
# (Optional) Configure a default Dockerfile to use when launching jobs with docker.
default_dockerfile = "Dockerfile"
# image_project = "my-image-factory"

# (Optional) Enable VertexAI Tensorboard support during training.
vertexai_tensorboard = "1231231231231231231"
vertexai_region = "us-central1"


gke_cluster = "bodaborg-v6e-256-lcscld-c"
reserved_tpu = false

cluster = "bodaborg-v6e-256-lcscld-c"
